
.body {
	margin-top: 10px;
 	margin-bottom: 50px;
}

.contenitore {
	margin-top:25px;
	min-width: 575px;
}

.bottone{
	margin-top:10px;
}


#search,#addMateria,#addCorso,#addCorsoDurata,#addClasse{
	max-width: 300px;
}

.opzione{
	float:right;
	display: inline;
}

.salva{
  margin-top:15px;
}

.riga{
	margin-top:20px;
}

.input-group-addon{
	top:0px;
}


.dettaglio{
	text-align: center;
}
