
.body {
	margin-top: 10px;
 	margin-bottom: 50px;
}

.contenitore {
  padding: 15px 35px 45px;
  background-color: #fff;
	min-width: 790px;
}


.bottone{
	margin-top:10px;
}

.header{
	margin-bottom:100px;
}

#search{
	max-width: 400px;
}

.opzione{
	float:right;
	display: inline;
}

h1{
	float:left;
	display: inline;
}

.input-group-addon{
	top:0px;
}
