
.body {
	margin-top: 10px;
 	margin-bottom: 50px;
}

.contenitore {
}

.bottone{
	margin-top:10px;
}

.header{
	margin-bottom:50px;
}

#search{
	max-width: 400px;
}

.opzione{
	float:right;
	display: inline;
}

.salva{
  margin-top:15px;
}

.riga{
	margin-top:25px;
}

.input-group-addon{
	top:0px;
}
