
.body {
	margin-top: 10px;
 	margin-bottom: 50px;
}

.contenitore {
		min-width: 525px;
}

.bottone{
	margin-top:10px;
}

#search,#addTitolo{
	max-width: 400px;
}

.opzione{
	float:right;
	display: inline;
	margin-top:20px;
}

.salva{
  margin-top:15px;
}

.riga{
	margin-top:20px;
}

.input-group-addon{
	top:0px;
}
.button{
	margin-top:-1px;
}
.dettaglio{
	text-align: center;
}
