
.body {
	margin-top: 10px;
 	margin-bottom: 50px;
}

.contenitore {
  padding: 15px 35px 45px;
  background-color: #fff;
}


a{
	margin-top:10px;
	margin-left:10px;
	font-size: 15px;
	height: 50px;
	text-align: center;
}


.header{
	margin-bottom:100px;
}

#search{
	max-width: 400px;
}

.opzione{
	float:right;
	display: inline;
}

h1{
	float:left;
	display: inline;
}

.button{
		height: 35px;
}
span{
	font-size:15px;
}
