
.body {
	margin-top: 10px;
 	margin-bottom: 50px;
}

.contenitore {
  padding: 15px 35px 45px;
  background-color: #fff;
	min-width: 400px;
}


.bottone{
	margin-top:10px;
}

.header{
	margin-bottom:20px;
}

thead{
	border:0px;
}

.opzione{
	float:right;
	display: inline;
}


select,input{
	width: 150px;
}
p{
	margin-left:10px;
	margin-right: 10px;
}


.altro{
	margin-top:100px;
}
